{% extends "base_nutricionista.html" %}
{% block subtitulo %}Artigos Postados{% endblock %}
{% block conteudo %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Artigos Postados</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Como montar uma alimentação balanceada</td>
                    <td>Artigo</td>
                    <td>05/01/24</td>
                </tr>
                <tr>
                    <td>Melhores alimentos para ganho de massa muscular</td>
                    <td>Artigo</td>
                    <td>18/02/24</td>
                </tr>
                <tr>
                    <td>Mitos e verdades sobre os alimentos</td>
                    <td>Artigo</td>
                    <td>03/03/24</td>
                </tr>
                <tr>
                    <td>Nutrição Pré e Pós-Treino: O Que Comer para Melhorar o Desempenho</td>
                    <td>Artigo</td>
                    <td>14/04/24</td>
                </tr>
                <tr>
                    <td>Melhores suplementos</td>
                    <td>Artigo</td>
                    <td>27/05/24</td>
                </tr>
                <!-- Continue listando outros artigos -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
