{% extends "base_personal.html" %}
{% block subtitulo %}Artigos Postados{% endblock %}
{% block conteudo %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Artigos Postados</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5 Dicas para Aumentar a Resistência Muscular</td>
                    <td>Artigo</td>
                    <td>05/01/24</td>
                </tr>
                <tr>
                    <td>Como Melhorar a Postura Corporal em 30 Dias</td>
                    <td>Exercício</td>
                    <td>18/02/24</td>
                </tr>
                <tr>
                    <td>Os Benefícios do Treino Intervalado de Alta Intensidade (HIIT)</td>
                    <td>Artigo</td>
                    <td>03/03/24</td>
                </tr>
                <tr>
                    <td>Nutrição Pré e Pós-Treino: O Que Comer para Melhorar o Desempenho</td>
                    <td>Artigo</td>
                    <td>14/04/24</td>
                </tr>
                <tr>
                    <td>Importância do Descanso e Recuperação no Processo de Treinamento</td>
                    <td>Exercício</td>
                    <td>27/05/24</td>
                </tr>
                <!-- Continue listando outros artigos -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
