{% extends "base.html" %}
{% block subtitulo %}Artigos{% endblock %}
{% block conteudo %}
<style>
    .article-card {
        background: #ffffff;
        border: 1px solid #cccccc;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 5px;
    }
    .article-header {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .article-image {
        width: 80px;
        height: 80px;
        object-fit: cover;
        margin-right: 15px;
        border-radius: 50%;
    }
    .article-title {
        font-size: 20px;
        color: #333333;
    }
    .article-text {
        font-size: 16px;
        line-height: 1.6;
        color: #666666;
    }
    .tag {
        display: inline-block;
        background: #e1e1e1;
        color: #333;
        padding: 5px 10px;
        border-radius: 15px;
        margin-right: 10px;
        font-size: 14px;
    }
</style>

<div class="container py-4">
    <div class="row">
        <!-- Artigo 1 -->
        <div class="col-md-12 article-card">
            <div class="article-header">
                <img src="/static/img/bruno.png" alt="Jorlan - Profissional de Educação Física" class="article-image">
                <div>
                    <div class="tag">Treino de Bíceps</div>
                    <div class="tag">Musculação</div>
                    <h2 class="article-title">Treino de Bíceps: Fortaleça e Defina Seus Braços</h2>
                </div>
            </div>
            <p class="article-text">
                Quer aumentar a força e definir os bíceps? Nosso treino especialmente desenvolvido para os bíceps é a solução perfeita!...
            </p>
        </div>
        <!-- Artigo 2 -->
        <div class="col-md-12 article-card">
            <div class="article-header">
                <img src="/static/img/suelen.png" alt="Anna - Nutricionista" class="article-image">
                <div>
                    <div class="tag">Nutrição</div>
                    <div class="tag">Dieta</div>
                    <h2 class="article-title">Dieta Saudável para Ganho de Massa Muscular</h2>
                </div>
            </div>
            <p class="article-text">
                Quer ganhar massa muscular de forma saudável? Nosso dieta especialmente desenvolvida para o ganho de massa é a solução perfeita!...
            </p>
        </div>
    </div>
</div>
{% endblock %}
