<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Fitness Life :: {% block subtitulo %}{% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    {% include "header.html" %}
    <main class="container-fluid flex-grow-1 p-0">
        {% block conteudo %}{% endblock %}
    </main>
    {% include "footer.html" %}
    <script src="/static/lib/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>

