{% extends "base_nutricionista.html" %}
{% block subtitulo %}Configurações{% endblock %}
{% block conteudo %}
    <div class="container mt-5">
    <h2 class="text-center">Configurações</h2>
    <div class="card mx-auto mt-4" style="max-width: 600px;">
        <div class="card-body">
            <h4 class="card-title text-center">Perfil</h4>
            <div class="text-center mb-3">
                <img src="/static/img/suelen.png" alt="Foto de perfil" class="rounded-circle" width="100"><br>
                <button class="btn btn-secondary mt-2">Carregar/alterar foto de perfil</button>
            </div>
            
            <form>
                <div class="mb-3">
                    <h5>Informações Pessoais</h5>
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" value="Suelen">
                </div>
                <div class="mb-3">
                    <label for="data-nascimento" class="form-label">Data de nascimento:</label>
                    <input type="date" class="form-control" id="data-nascimento" name="data-nascimento" value="2000-05-28">
                </div>
                <div class="mb-3">
                    <label for="descricao-pessoal" class="form-label">Descrição Pessoal:</label>
                    <input type="text" class="form-control" id="descricao-pessoal" name="descricao-pessoal" placeholder="Opcional">
                </div>
                <button type="submit" class="btn btn-primary">Atualizar</button>
                <button type="reset" class="btn btn-secondary">Cancelar</button>
            </form>

            <hr>

            <form>
                <div class="mb-3">
                    <h5>Conta</h5>
                    <label for="email" class="form-label">Endereço de e-mail:</label>
                    <input type="email" class="form-control" id="email" name="email" value="Suelen*******@gmail.com">
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha:</label>
                    <input type="password" class="form-control" id="senha" name="senha" value="******">
                </div>
                <div class="mb-3">
                    <label>Conta privada:</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="conta-privada" id="conta-privada-sim" value="Sim" checked>
                        <label class="form-check-label" for="conta-privada-sim">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="conta-privada" id="conta-privada-nao" value="Não">
                        <label class="form-check-label" for="conta-privada-nao">Não</label>
                    </div>
                </div>
            </form>

            <hr>

            <form>
                <div class="mb-3">
                    <h5>Assinatura</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="tipo-plano" class="form-label">Tipo de plano:</label>
                            <input type="text" class="form-control" id="tipo-plano" name="tipo-plano" value="Plus" readonly>
                        </div>
                        <div class="col-md-6">
                            <label for="data-expiracao" class="form-label">Data de expiração da assinatura:</label>
                            <input type="date" class="form-control" id="data-expiracao" name="data-expiracao" value="2025-01-05" readonly>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label>Renovar assinatura:</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="renovar-assinatura" id="renovar-sim" value="Sim" checked>
                                <label class="form-check-label" for="renovar-sim">Sim</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="renovar-assinatura" id="renovar-nao" value="Não">
                                <label class="form-check-label" for="renovar-nao">Não</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Cancelar Assinatura:</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cancelar-assinatura" id="cancelar-sim" value="Sim">
                                <label class="form-check-label" for="cancelar-sim">Sim</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cancelar-assinatura" id="cancelar-nao" value="Não" checked>
                                <label class="form-check-label" for="cancelar-nao">Não</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="ultimo-pagamento" class="form-label">Último Pagamento:</label>
                        <input type="date" class="form-control" id="ultimo-pagamento" name="ultimo-pagamento" value="2024-01-05" readonly>
                    </div>
                </div>
            </form>

            <hr>

            <form>
                <div class="mb-3">
                    <h5>Notificações</h5>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Notificações por e-mail:</label><br>
                            <button type="button" class="btn btn-outline-primary">Ativar</button>
                            <button type="button" class="btn btn-outline-secondary">Desativar</button>
                        </div>
                        <div class="col-md-4">
                            <label>Notificações por SMS:</label><br>
                            <button type="button" class="btn btn-outline-primary">Ativar</button>
                            <button type="button" class="btn btn-outline-secondary">Desativar</button>
                        </div>
                        <div class="col-md-4">
                            <label>Notificações push:</label><br>
                            <button type="button" class="btn btn-outline-primary">Ativar</button>
                            <button type="button" class="btn btn-outline-secondary">Desativar</button>
                        </div>
                    </div>
                </div>
            </form>

            <hr>

            <h5>Perguntas Frequentes</h5>
            <a href="/perguntasfrequentes" class="btn btn-link">Clique aqui para acessar a aba de perguntas frequentes</a>

        </div>
    </div>
</div>
{% endblock %}