{% extends "base.html" %}
{% block subtitulo %}Exercícios{% endblock %}
{% block conteudo %}
<div class="container my-5">
    <h1 class="text-center">Treinamento</h1>
    <div class="text-center mt-4">
        <a href="/treinamentovazio" class="btn btn-primary btn-lg"><i class="bi bi-plus"></i> Iniciar Treinamento Vazio</a>
    </div>
    <h2 class="mt-5 text-center">Rotinas</h2>
    <div class="row mt-4 justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <a href="/explorarrotina" class="btn btn-primary"><i class="bi bi-search"></i> Explorar</a>
                        <a href="/rotina" class="btn btn-primary"><i class="bi bi-clipboard2-check"></i> Nova Rotina</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-4">
            <h3 class="text-center">Rotinas Salvas</h3>
            <div id="carouselRotinas" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Exemplo de uma rotina salva -->
                    <div class="carousel-item active">
                        <div class="accordion" id="rotinasSalvas1">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="rotina1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRotina1" aria-expanded="true" aria-controls="collapseRotina1">
                                        Push
                                    </button>
                                </h2>
                                <div id="collapseRotina1" class="accordion-collapse collapse show" aria-labelledby="rotina1" data-bs-parent="#rotinasSalvas1">
                                    <div class="accordion-body">
                                        <!-- Lista de exercícios -->
                                        <ul class="list-group">
                                            <li class="list-group-item">Supino Inclinado</li>
                                            <li class="list-group-item">Supino Reto</li>
                                            <li class="list-group-item">Crossover</li>
                                            <li class="list-group-item">Tríceps Pulley</li>
                                            <li class="list-group-item">Frânces na Polia</li>
                                            <li class="list-group-item">Desenvolvimento Máquina</li>
                                            <li class="list-group-item">Elevação Lateral Polia</li>
                                            <!-- Adicione mais exercícios conforme necessário -->
                                        </ul>
                                        <!-- Botão para iniciar a rotina -->
                                        <button class="btn btn-primary mt-3"><i class="bi bi-play-circle"></i> Iniciar Rotina</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="accordion" id="rotinasSalvas2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="rotina2">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRotina2" aria-expanded="true" aria-controls="collapseRotina2">
                                        Pull
                                    </button>
                                </h2>
                                <div id="collapseRotina2" class="accordion-collapse collapse show" aria-labelledby="rotina2" data-bs-parent="#rotinasSalvas2">
                                    <div class="accordion-body">
                                        <!-- Lista de exercícios -->
                                        <ul class="list-group">
                                            <li class="list-group-item">Puxada Alta Aberta</li>
                                            <li class="list-group-item">Remada Curvada</li>
                                            <li class="list-group-item">Pulldown</li>
                                            <li class="list-group-item">Rosca Scott</li>
                                            <li class="list-group-item">Rosca Direta Barra W</li>
                                            <li class="list-group-item">Crucifixo Inverso</li>
                                            <!-- Adicione mais exercícios conforme necessário -->
                                        </ul>
                                        <!-- Botão para iniciar a rotina -->
                                        <button class="btn btn-primary mt-3"><i class="bi bi-play-circle"></i> Iniciar Rotina</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="accordion" id="rotinasSalvas3">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="rotina3">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRotina3" aria-expanded="true" aria-controls="collapseRotina3">
                                        Legs
                                    </button>
                                </h2>
                                <div id="collapseRotina3" class="accordion-collapse collapse show" aria-labelledby="rotina3" data-bs-parent="#rotinasSalvas3">
                                    <div class="accordion-body">
                                        <!-- Lista de exercícios -->
                                        <ul class="list-group">
                                            <li class="list-group-item">Agachamento Livre</li>
                                            <li class="list-group-item">Cadeira Flexora</li>
                                            <li class="list-group-item">Leg Press 45°</li>
                                            <li class="list-group-item">Stiff</li>
                                            <li class="list-group-item">Extensora</li>
                                            <li class="list-group-item">Elevação Pélvica</li>
                                            <!-- Adicione mais exercícios conforme necessário -->
                                        </ul>
                                        <!-- Botão para iniciar a rotina -->
                                        <button class="btn btn-primary mt-3"><i class="bi bi-play-circle"></i> Iniciar Rotina</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Adicione mais rotinas salvas conforme necessário -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselRotinas" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselRotinas" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próximo</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
