{% extends "base.html" %}
{% block subtitulo %}Explorar Rotinas{% endblock %}
{% block conteudo %}
<div class="container my-5">
    <h1 class="text-center">Explorar Rotinas</h1>
    <div class="text-center mt-4">
        <h2>Divisões Personalizadas de Educadores Físicos:</h2>
        <div class="row">
            <!-- Divisão de 3 dias -->
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-primary btn-block">Push</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-primary btn-block">Pull</a>
            </div>
            <!-- Divisão de 5 dias -->
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-primary btn-block">Peito e Tríceps</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-primary btn-block">Costas e Bíceps</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-primary btn-block">Ombros</a>
            </div>
            <!-- Divisão Corporal Completa -->
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-primary btn-block">Upper</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-primary btn-block">Lower</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-primary btn-block">Full Body</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
