<footer class="p-1 bg-custom text-white mt-auto border-top border-1 border-secondary-subtle">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 offset-3">
                <p class="text-center mb-0">&copy 2024 Fitness Life. Todos os direitos reservados.</p>
            </div>
            <div class="col-3">
                <div class="d-flex gap-3 justify-content-end">
                    <a href="/" class="text-decoration-none text-white">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="/" class="text-decoration-none text-white">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="/" class="text-decoration-none text-white">
                        <i class="bi bi-telegram"></i>
                    </a>
                    <a href="/" class="text-decoration-none text-white">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                    <a href="/" class="text-decoration-none text-white">
                        <i class="bi bi-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
