{% extends "base.html" %}
{% block subtitulo %}Política de Privacidade{% endblock %}
{% block conteudo %}
<div class="container my-5">
    <h1 class="text-center">Política de Privacidade do Fitness Life</h1>
    <p>No "Fitness Life", respeitamos sua privacidade e estamos comprometidos em proteger as informações pessoais que você compartilha conosco. Esta Política de Privacidade descreve como coletamos, usamos, armazenamos e protegemos suas informações. Ao utilizar nosso site, você concorda com as práticas descritas nesta Política de Privacidade.</p>

    <h2>1. Informações que Coletamos</h2>
    <p>Coletamos vários tipos de informações para fornecer e melhorar nossos serviços:</p>
    <ul>
        <li><strong>Informações Pessoais:</strong> Nome, endereço de e-mail, número de telefone, idade e outras informações pessoais que você nos fornece ao criar uma conta ou entrar em contato conosco.</li>
        <li><strong>Informações de Uso:</strong> Dados sobre como você utiliza nosso site, incluindo seu endereço IP, tipo de navegador, páginas visitadas, tempo gasto no site e outras estatísticas.</li>
        <li><strong>Cookies e Tecnologias Semelhantes:</strong> Utilizamos cookies para melhorar sua experiência no site. Cookies são pequenos arquivos de dados armazenados em seu dispositivo.</li>
    </ul>

    <h2>2. Como Usamos Suas Informações</h2>
    <p>Utilizamos as informações coletadas para diversas finalidades, incluindo:</p>
    <ul>
        <li>Fornecer e manter nossos serviços.</li>
        <li>Melhorar, personalizar e expandir nosso site.</li>
        <li>Entender e analisar como você usa nosso site.</li>
        <li>Desenvolver novos produtos, serviços, recursos e funcionalidades.</li>
        <li>Enviar e-mails de marketing e promocionais, se você tiver optado por recebê-los.</li>
        <li>Detectar e prevenir fraudes e problemas técnicos.</li>
    </ul>

    <h2>3. Compartilhamento de Informações</h2>
    <p>Não compartilhamos suas informações pessoais com terceiros, exceto:</p>
    <ul>
        <li>Com seu consentimento.</li>
        <li>Para cumprir obrigações legais.</li>
        <li>Para proteger e defender nossos direitos e propriedades.</li>
        <li>Com fornecedores de serviços que ajudam a operar nosso site, desde que esses fornecedores concordem em manter suas informações confidenciais.</li>
    </ul>

    <h2>4. Segurança das Informações</h2>
    <p>Implementamos medidas de segurança adequadas para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, nenhum método de transmissão pela internet ou método de armazenamento eletrônico é 100% seguro, e não podemos garantir a segurança absoluta.
    </p>
    
    <h2>5. Seus Direitos</h2>
    <p>Você tem o direito de:</p>
    <ul>
        <li>Acessar e atualizar suas informações pessoais.</li>
        <li>Solicitar a exclusão de suas informações pessoais.</li>
        <li>Optar por não receber comunicações de marketing.</li>
        <li>Restringir ou objetar ao processamento de suas informações pessoais.</li>
        <p>Para exercer esses direitos, entre em contato conosco através do e-mail: seuemail@fitnesslife.com.br
        </p>
    </ul>

    <h2>6. Retenção de Dados</h2>
    <p>Manteremos suas informações pessoais apenas pelo tempo necessário para as finalidades descritas nesta Política de Privacidade. Quando não precisarmos mais de suas informações, nós as excluiremos ou tornaremos anônimas.</p>

    <h2>7. Privacidade de Crianças</h2>
    <p>Nosso site não é destinado a menores de 18 anos. Não coletamos intencionalmente informações pessoais de crianças. Se descobrirmos que coletamos informações pessoais de uma criança sem o consentimento dos pais, tomaremos medidas para excluir essas informações.</p>

    <h2>8. Links para Outros Sites</h2>
    <p>Nosso site pode conter links para sites de terceiros. Não somos responsáveis pelas práticas de privacidade desses sites. Recomendamos que você leia as políticas de privacidade de qualquer site que visitar.</p>

    <h2>9. Alterações nesta Política de Privacidade</h2>
    <p>Podemos atualizar esta Política de Privacidade periodicamente. Quaisquer alterações serão publicadas nesta página. Recomendamos que você reveja esta política regularmente para se manter informado sobre como estamos protegendo suas informações.</p>

    <h2>10. Contato</h2>
    <p>Se você tiver qualquer dúvida sobre esta Política de Privacidade, entre em contato conosco através do e-mail: seuemail@fitnesslife.com.br</p>

    <p>Ao utilizar o "Fitness Life", você reconhece que leu, compreendeu e concorda com esta Política de Privacidade. Estamos comprometidos em proteger sua privacidade e agradecemos sua confiança em nós.</p>
</div>
{% endblock %}