{% extends "base.html" %}
{% block subtitulo %}Dieta{% endblock %}
{% block conteudo %}
<div class="container my-5">
    <h1 class="text-center mb-4">Receitas</h1>
    
    <!-- Campo de busca -->
    <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="Buscar Receitas" aria-label="Buscar Receitas">
        <button class="btn btn-outline-secondary" type="button" style="border: none;">
            <i class="bi bi-search"></i>
        </button>
    </div>

    <!-- Lista de Receitas -->
    <div id="receitasCarousel" class="carousel slide">
        <div class="carousel-inner">
            <!-- Receita 1 -->
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/static/img/pizza.jpeg" class="card-img-top" alt="Pizza frigideira">
                            <div class="card-body">
                                <h5 class="card-title">Pizza de frigideira fit</h5>
                                <p class="card-text">Ingredientes

                                    1 e 1/2 xícara de chá de farinha de aveia
                                    
                                    3 colheres de chá de azeite extravirgem
                                    
                                    Sal a gosto
                                    
                                    1 colher de chá de fermento químico em pó (fermento para bolo)
                                    
                                    4 colheres de sopa de água
                                    
                                    Molho de tomate a gosto
                                    
                                    Mussarela light ralada a gosto
                                    
                                    1 tomate em rodelas
                                    
                                    Orégano a gosto
                                    Modo de Preparo
                                    Ingredientes da receita dentro de recipientes sobre mesa de madeira.Receiteria
                                    Reúna todos os ingredientes;
                                    Colher misturando ingredientes secos em um recipiente prata.Receiteria
                                    Em um recipiente, adicione a farinha de aveia, o azeite, o sal, o fermento e misture bem;
                                    Bola de massa dentro de um recipiente prata.Receiteria
                                    Depois, acrescente gradualmente a água, até formar uma massa homogênea;
                                    Massa dividida em duas porções, dentro de recipiente prata.Receiteria
                                    Separe a massa em duas partes iguais e abra cada uma no formato da frigideira que você irá usar;
                                    Massa aberta dentro de uma frigideira preta.Receiteria
                                    Transfira uma das massas para a frigideira e deixe-a cozinhar por cerca de 3 minutos;
                                    Recheios de tomate, queijo e molho sobre pizza, dentro de frigideira preta.Receiteria
                                    Vire a massa e recheie com molho de tomate, mussarela ralada, rodelas de tomate e orégano;
                                    Recheios de tomate, queijo e molho sobre pizza, dentro de frigideira preta com tampa de vidro.Receiteria
                                    Tampe a panela e deixe no fogo até o queijo derreter. Repita o processo até que a massa acabe;
                                    Pizza de queijo e tomates em uma frigideira preta.Receiteria
                                    Agora é só servir. Bom apetite!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/static/img/receita2.png" class="card-img-top" alt="Receita 2">
                            <div class="card-body">
                                <h5 class="card-title">Bobó de camarão light</h5>
                                <p class="card-text">INGREDIENTES
                                    mandioca, 500 gramas
                                    leite de coco light, 200 ml
                                    água, 500 ml
                                    pimentão vermelho, 1/2 unidade
                                    pimentão amarelo, 1/2 unidade
                                    cebola roxa, 1 unidade
                                    coentro fresco, 3 colher-sopa
                                    camarão cinza médio, 500 gramas
                                    sal, 2 colher-cha,óleo de girassol, 1 colher-sopa
                                    azeite de dendê, 1 colhercafe
                                    extrato de tomate, 2 colher-sopa
                                    tomate, 2 unidade
                                    INFORMAÇÕES NUTRICIONAIS
                                    Calorias1458.85
                                    Carboidratos173.06
                                    Açúcar0.00
                                    Gordura51.99
                                    Saturada34.94
                                    Proteina85.63
                                    Lipídio0
                                    Colesterol0
                                    MODO DE PREPARO
                                    passo a passo receitas Namu PASSO 1
                                    Descascar a mandioca e cortar em pedaços médios. Colocar em uma panela com a água e o leite de coco light. Cozinhar até que esteja mole.
                                    
                                    passo a passo receitas Namu PASSO 2
                                    Lavar bem todos os vegetais. Cortar os pimentões ao meio, retirar as sementes e fatiá-los. Separar as folhas de coentro e fatiar a cebola roxa.
                                    
                                    passo a passo receitas Namu PASSO 3
                                    Separar a mandioca do seu líquido de cocção, reservando os dois. Retirar a fibra dura que se encontra no centro da mandioca e desprezá-la. Bater a mandioca com o líquido do cozimento no liquidificador até obter um creme homogêneo. Reservar.
                                    
                                    passo a passo receitas Namu PASSO 4
                                    Aquecer o óleo em uma panela e refogar rapidamente os camarões já limpos. Retirar os camarões da panela e reservá-los.
                                    
                                    passo a passo receitas Namu PASSO 5
                                    Na mesma panela, acrescentar o azeite de dendê e refogar a cebola e os pimentões. Em seguida, adicionar extrato de tomate e refogar mais um pouco.
                                    
                                    passo a passo receitas Namu PASSO 6
                                    Acrescentar os tomates cortados em pedaços grandes e, em seguida, acrescentar o purê de mandioca ao refogado. Misturar bem.
                                    
                                    passo a passo receitas Namu PASSO 7
                                    Colocar os camarões refogados e temperar com sal e coentro picado.
                                    
                                    passo a passo receitas Namu PASSO 8
                                    Misturar bem e servir quente com arroz.
                                    
                                    </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/static/img/receita3.png" class="card-img-top" alt="Receita 3">
                            <div class="card-body">
                                <h5 class="card-title">Brigadeiro de whey protein</h5>
                                <p class="card-text">Ingredientes
                                    1 e 1/2 xícara (chá) de água
                                    1/2 xícara (chá) de leite em pó desnatado
                                    6 colheres (sopa) de whey protein sabor chocolate ou baunilha
                                    1 colher (sopa) de margarina light
                                    Adoçante culinário
                                    2 colheres (sopa) de cacau em pó solúvel sem açúcar
                                    Granulado de chocolate ou castanhas trituradas para envolver
                                    
                                    Modo de Preparo
                                    No liquidificador, bata a água com o leite em pó e a whey protein até ficar homogêneo.
                                    Derreta a margarina em fogo baixo e adicione a mistura batida.
                                    Mexendo sempre, acrescente, aos poucos, adoçante a gosto e o cacau em pó e cozinhe até se soltar do fundo da panela (uns 5 minutos).
                                    Deixe esfriar e modele bolinhas com pequenas porções da massa.
                                    Envolva em granulado ou castanhas trituradas e acomode em forminhas apropriadas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Receita 2 -->
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/static/img/receita4.jpg" class="card-img-top" alt="Receita 4">
                            <div class="card-body">
                                <h5 class="card-title">Receita 4</h5>
                                <p class="card-text">Descrição curta da receita 4.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/static/img/receita5.jpg" class="card-img-top" alt="Receita 5">
                            <div class="card-body">
                                <h5 class="card-title">Receita 5</h5>
                                <p class="card-text">Descrição curta da receita 5.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/static/img/receita6.jpg" class="card-img-top" alt="Receita 6">
                            <div class="card-body">
                                <h5 class="card-title">Receita 6</h5>
                                <p class="card-text">Descrição curta da receita 6.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Adicione mais blocos de receitas conforme necessário -->
        </div>
        <!-- Controles do carrossel -->
        <a class="carousel-control-prev" href="#receitasCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#receitasCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </a>
    </div>
</div>
{% endblock %}