{% extends "base.html" %}
{% block subtitulo %}Rotina{% endblock %}
{% block conteudo %}
<div class="container my-5">
    <h1 class="text-center">Rotina</h1>
    <div class="text-center mt-4">
        <input type="text" class="form-control mb-4" placeholder="Título da Rotina">
        <div class="text-center mt-4">
            <i class="bi bi-barbell" style="font-size: 5rem;"></i>
            <p>Adicione um exercício para começar a sua rotina</p>
            <a href="#" class="btn btn-primary btn-lg"><i class="bi bi-plus"></i> Adicionar Exercício</a>
        </div>
    </div>
</div>
{% endblock %}
