{% extends "base.html" %}
{% block subtitulo %}Sobre o Fitness Life{% endblock %}
{% block conteudo %}
<div class="container my-5">
    <h1 class="text-center mb-4">Sobre o Fitness Life</h1>
    
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Nossa Missão -->
            <section class="mb-4">
                <h2><strong>Nossa Missão</strong></h2>
                <p>No Fitness Life, nossa missão é ajudar você a alcançar seus objetivos de saúde e bem-estar através de uma abordagem holística que combina treinos personalizados, orientações nutricionais especializadas e uma comunidade de suporte motivadora. Acreditamos que sua saúde é um bem precioso e que, com as ferramentas e suporte certos, todos podem atingir seus objetivos de fitness.</p>
            </section>

            <!-- Quem Somos -->
            <section class="mb-4">
                <h2><strong>Quem Somos</strong></h2>
                <p>Somos uma equipe dedicada de profissionais apaixonados por saúde e fitness. Nosso time inclui personal trainers certificados, nutricionistas experientes e desenvolvedores talentosos, todos comprometidos em fornecer uma experiência de usuário excepcional.</p>
            </section>

            <!-- O Que Oferecemos -->
            <section class="mb-4">
                <h2><strong>O Que Oferecemos</strong></h2>
                <h3><strong>Treinos Personalizados</strong></h3>
                <p>Oferecemos uma ampla gama de programas de treino que se adaptam a todos os níveis de condicionamento físico. Nossos treinos são projetados por especialistas e podem ser realizados em casa ou na academia.</p>
                <h3><strong>Orientação Nutricional</strong></h3>
                <p>Nossos nutricionistas fornecem planos alimentares personalizados para ajudá-lo a atingir seus objetivos, seja ganho de massa muscular, perda de peso ou manutenção de uma dieta saudável.</p>
                <h3><strong>Conteúdo Exclusivo</strong></h3>
                <p>Acesse artigos informativos, vídeos de treino, receitas saudáveis e muito mais. Nossos conteúdos são constantemente atualizados para mantê-lo informado e motivado.</p>
            </section>

            <!-- Nossos Valores -->
            <section class="mb-4">
                <h2><strong>Nossos Valores</strong></h2>
                <h3><strong>Compromisso com a saúde</strong></h3>
                <p>Acreditamos que a saúde é uma jornada contínua e nos dedicamos a fornecer recursos que ajudem você a viver uma vida mais saudável.</p>
                <h3><strong>Inovação</strong></h3>
                <p>Estamos sempre buscando novas maneiras de melhorar nossos serviços e trazer as últimas tendências e tecnologia do mundo fitness.</p>
            </section>

            <!-- Entre em Contato -->
            <section class="mb-4">
                <h2><strong>Entre em contato</strong></h2>
                <p>Se você tiver alguma dúvida ou precisar de assistência, nossa equipe está pronta para ajudar. Entre em contato conosco através do E-mail: suporte@fitnesslife.com</p>
            </section>

            <!-- Junte-se a Nós -->
            <section class="mb-4">
                <h2><strong>Junte-se a Nós!</strong></h2>
                <p>Estamos empolgados em tê-lo conosco nessa jornada de saúde e bem-estar. Cadastre-se agora e comece sua transformação hoje mesmo!</p>
            </section>
        </div>
    </div>
</div>
{% endblock %}
