{% extends "base.html" %}
{% block subtitulo %}Termos{% endblock %}
{% block conteudo %}
<div class="container my-5">
    <h1 class="text-center">Termos e Condições de Uso do Fitness Life</h1>
    <p>Bem-vindo ao site "Fitness Life"! Antes de utilizar nossos serviços, leia atentamente os termos e condições abaixo. Ao acessar e utilizar nosso site, você concorda com os seguintes termos e condições. Caso não concorde com qualquer parte destes termos, não utilize nosso site.</p>

    <h2>1. Aceitação dos Termos</h2>
    <p>Ao utilizar o site "Fitness Life", você concorda em cumprir e estar legalmente vinculado a estes Termos e Condições de Uso. Estes Termos se aplicam a todos os visitantes, usuários e outras pessoas que acessam ou utilizam o Site.</p>

    <h2>2. Modificações dos Termos</h2>
    <p>Reservamo-nos o direito de modificar ou revisar estes Termos a qualquer momento. Quaisquer alterações serão publicadas nesta página, e seu uso continuado do Site após tais alterações constituirá sua aceitação dos novos Termos.</p>

    <h2>3. Serviços Oferecidos</h2>
    <p>O "Fitness Life" oferece informações e recursos relacionados a exercícios físicos e dietas. Todo o conteúdo fornecido é para fins informativos e não substitui a orientação de profissionais de saúde. Sempre consulte um médico ou profissional de saúde antes de iniciar qualquer programa de exercícios ou dieta.</p>

    <h2>4. Registro e Conta de Usuário</h2>
    <p>Para acessar certas funcionalidades do Site, você pode ser solicitado a criar uma conta. Ao criar uma conta, você deve fornecer informações verdadeiras, precisas e completas. Você é responsável por manter a confidencialidade de sua senha e por todas as atividades que ocorram sob sua conta.</p>

    <h2>5. Uso Aceitável</h2>
    <p>Você concorda em utilizar o Site apenas para fins legais e de acordo com os Termos. É proibido:</p>
    <ul>
        <li>Utilizar o Site de qualquer maneira que possa prejudicar, desabilitar, sobrecarregar ou comprometer o Site.</li>
        <li>Utilizar qualquer sistema automatizado, como robôs ou spiders, para acessar o Site.</li>
        <li>Tentar obter acesso não autorizado a qualquer parte do Site.</li>
    </ul>

    <h2>6. Propriedade Intelectual</h2>
    <p>Todo o conteúdo do Site, incluindo, mas não se limitando a textos, gráficos, imagens, vídeos e logotipos, é de propriedade exclusiva do "Fitness Life" ou de seus licenciadores e está protegido pelas leis de direitos autorais. Você não pode usar, copiar, modificar ou distribuir qualquer conteúdo do Site sem a permissão expressa por escrito.</p>

    <h2>7. Isenção de Responsabilidade</h2>
    <p>O "Fitness Life" não se responsabiliza por quaisquer danos diretos, indiretos, incidentais ou consequentes resultantes do uso ou da incapacidade de uso do Site. O conteúdo do Site é fornecido "como está" e sem garantias de qualquer tipo, expressas ou implícitas.</p>

    <h2>8. Links para Sites de Terceiros</h2>
    <p>O Site pode conter links para sites de terceiros que não são controlados ou operados pelo "Fitness Life". Não somos responsáveis pelo conteúdo ou práticas de privacidade desses sites. Você acessa esses links por sua conta e risco.</p>

    <h2>9. Rescisão</h2>
    <p>Podemos suspender ou encerrar seu acesso ao Site a qualquer momento, sem aviso prévio ou responsabilidade, por qualquer motivo, incluindo, mas não se limitando a, violação destes Termos.</p>

    <h2>10. Lei Aplicável</h2>
    <p>Estes Termos serão regidos e interpretados de acordo com as leis do Brasil, sem considerar seus conflitos de princípios legais. Você concorda em se submeter à jurisdição exclusiva dos tribunais localizados no Brasil.</p>

    <h2>11. Contato</h2>
    <p>Se você tiver qualquer dúvida sobre estes Termos, entre em contato conosco através do e-mail: seuemail@fitnesslife.com.br</p>

    <h2>12. Disposições Gerais</h2>
    <p>Caso qualquer disposição destes Termos seja considerada inválida ou inexequível, as demais disposições continuarão em pleno vigor e efeito. Estes Termos constituem o acordo integral entre você e o "Fitness Life" com relação ao uso do Site e substituem todos os acordos anteriores.</p>

    <p>Ao utilizar o "Fitness Life", você reconhece que leu, compreendeu e concorda com estes Termos e Condições de Uso. Aproveite nosso site e cuide bem da sua saúde e bem-estar!</p>
</div>
{% endblock %}