<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Teste de Imagem de Fundo</title>
    
</head>
<body>
    <div class="bg-cover position-relative">
        <div class="overlay d-flex justify-content-center align-items-center">
            <div class="content text-center">
                <h1 class="display-4 text-white">Seja bem-vindo ao Fitness Life!</h1>
                <p class="lead text-white">Transforme sua vida com saúde e bem-estar com o Fitness Life, o seu novo parceiro para uma vida mais saudável e ativa.</p>
                <a href="/login" class="btn btn-primary btn-lg">Entrar</a>
            </div>
        </div>
    </div>
</body>
</html>
